<div class="wbg-role-select">
	<div class="wbg-select-tags" ng-click="fn.dropdownShow()">
	    <div ng-if="data.hasdisabled" class="wbg-select-disabled"></div>
	    <span ng-if="data.multiple==1 && data.selectItems.length!=0" class="tags-multiple" 
	    	ng-repeat="item in data.selectItems">{{item.role}}
	      <i class="item-rm" ng-click="fn.itemRemove(item, $event)"></i>
	    </span>
	    <span ng-if="data.multiple==0 && data.selectItems" class="tags-no-multiple text-cut tags-single">{{data.selectItems}}</span>
	    <span ng-if="!(data.multiple==1 && data.selectItems.length!=0 || data.multiple==0 && data.selectItems)" class="tags-no-multiple wbg-txt hint">请选择审批角色</span>
	    
	    <i class="wbg-icon-font wbg-icon-drop-down-12px icon-s12 drop-down-arrow"></i>
	</div>
	<div class="wbg-select-dropdown" ng-if="data.showDropdown">
		<div class="wbg-role-wrap">
			<ul class="wbg-role-list">
				<li class="wbg-role-group" ng-repeat="item in data.allRoleG">
					<h6 ng-bind="item.name" ng-click="fn.roleGroupItemClick(item)"></h6>
					<ul ng-if="!item.showRoleItem" class="wbg-role-item-wrap">
						<li class="wbg-role-item" ng-click="fn.roleItemClick(subitem)" ng-repeat="subitem in item.roleDetails" ng-class="{'selected':subitem.selected}">{{subitem.name}}</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>